@import url('https://fonts.googleapis.com/css?family=ABeeZee|Abel|Alfa+Slab+One|Archivo+Narrow|Cabin|Catamaran|Heebo|Hind+Siliguri:700|Josefin+Sans|Questrial|Oxygen|Rubik+Mono+One|Fjalla+One|Pacifico|Karla|Libre+Franklin|Lobster+Two|Pacifico|Passion+One|Poiret+One|Questrial|Quicksand|Rubik');

/* body {
	font-family: 'Archivo Narrow', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Cabin', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Catamaran', sans-serif;
	font-family: 'Abel', sans-serif;
	font-family: 'Rubik', sans-serif;
	font-family: 'Pacifico', cursive;
	font-family: 'Karla', sans-serif;
	font-family: 'Questrial', sans-serif;
	font-family: 'Libre Franklin', sans-serif;
	font-family: 'Passion One', cursive;
	font-family: 'Heebo', sans-serif;
	font-family: 'Poiret One', cursive;
	font-family: 'Lobster Two', cursive;
	font-family: 'ABeeZee', sans-serif;
	font-family: 'Hind Siliguri', sans-serif;
	font-family: 'Alfa Slab One', cursive;
	font-family: 'Rubik Mono One', sans-serif;
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Oxygen', sans-serif;
	font-family: 'Pacifico', cursive;
	font-family: 'Questrial', sans-serif;
	font-family: 'Archivo Narrow', sans-serif;
} */